@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  

  h1{font-size:var(--h1-size); line-height:var(--lh-small); margin: 0;}
  h2{font-size:var(--h2-size); line-height:var(--lh-small); margin: 0;}
  h3{font-size:var(--h3-size); line-height:var(--lh-small);margin: 0; }
  p{font-size:var(--p-size); line-height:var(--lh-med); font-weight: 500; margin: 0; }

  /* Texts */
  --font-sans: Montserrat, Poppins, Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  --h1-size: clamp(2rem, 1.2rem + 2vw, 3rem);
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;
  --p-size: 1.15rem;
  --lh-small: 1.0;
  --lh-med: 1.25;
  --lh-large: 1.5;

  /* spaces */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-med: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 3rem;

  /* radius */
  --radius-small: 8px;
  --radius-med: 12px;
  --radius-large: 20px;
  --radius-full: 999px;

  /* border & shadow */
  --border: 1px solid var(--color-border);
  --shadow-08: 0 2px 8px rgba(0,0,0,0.08);
  --shadow-12: 0 8px 24px rgba(0,0,0,0.12);

  /* Animations */
  --ease: cubic-bezier(0.2,0.8,0.2,1);
  --fast: 120ms;
  --med: 200ms;
  --slow: 360ms;

  /* Layout */
  --container: 1200px;
  --zindex-nav: 50; 
  --zindex-modal: 100; 
  --zindex-alert: 110;

  /* theme default */
  --color-bg: #f5f5f5;
  --color-text: #1a1a1a;
  --color-muted: #6b6b6b;
  --color-border: #dcdcdc;
  --color-contrast: #ffffff;

  --color-primary: #2c0546;
  --color-primary-light: #37115a;
  --color-primary-dark: #250b38;
  --color-secondary: #FFD966;   
  --color-secondary-light: #FFE583;
  --color-secondary-dark: #C9A500; 
  /* states */
  --color-success: #2e7d32;
  --color-warning: #f59241;
  --color-error: #d32f2f;
}

.dark {
  --color-bg: #121214;
  --color-text: #f2f2f2;
  --color-muted: #a0a0a0;
  --color-border: #2a2a2a;
  --color-contrast: #000000;

  --color-primary: #37115a;
  --color-primary-light: #2c0546;
  --color-primary-dark: #1f0b2e;
  --color-secondary: #FFD966;   
  --color-secondary-light: #FFE583;
  --color-secondary-dark: #C9A500; 

  --color-success: #66bb6a;
  --color-warning: #ff9800;
  --color-error: #ef5350;
}

/* BODY */
html,body,#root{height:100%}
body{
  margin:0;
  min-width:320px;
  min-height:100vh;
  font-family:var(--font-sans);
  font-size:var(--p-size);
  line-height:var(--lh-med);
  background:var(--color-bg);
  color:var(--color-text);
  height: 2000px;
}

img{
  max-width:400px;
  height:auto;
  user-select: none;
}

button{
  display:inline-flex; align-items:center; justify-content:center; gap:0.5rem;
  padding:.6em 1.1em;
  font:600 1rem/1 var(--font-sans);
  border-radius:var(--radius-small);
  border:1px solid transparent;
  cursor:pointer;
  background:var(--color-primary);
  color: #fff;
  transition:
    transform var(--med) var(--ease),
    background var(--med) var(--ease),
    border-color var(--med) var(--ease),
    box-shadow var(--med) var(--ease);
  box-shadow: var(--shadow-08);
}

button:focus-visible{
  outline:0;
  box-shadow:
    0 0 4px 1px color-mix(in oklab, var(--color-primary) 40%, transparent),
    0 0 8px 4px color-mix(in oklab, var(--color-primary) 15%, transparent);
}
button:disabled{opacity:.6;cursor:not-allowed;transform:none; pointer-events: none; /* impede qualquer clique */}
button:hover{ box-shadow:var(--shadow-12); background:var(--color-primary-light); }
button:active{ background:var(--color-primary-dark); transform:translateY(2px) }

button.ghost{
  background:transparent;
  color:var(--color-text);
  border:1px solid transparent;
  box-shadow:none;
}
button.ghost:hover{
  border-color:var(--color-text);
}
button.ghost:active{ transform:translateY(2px) }

button.outline{
  background: transparent;
  color:var(--color-text);
  border:1px solid var(--color-text);
  box-shadow:none;
}
button.outline:hover{
  background: var(--color-text);
  color: var(--color-bg);
  border-color: var(--color-text);
}
button.outline:active{ transform:translateY(2px) }

/* 4) DANGER (destructive action) */
button.danger{
  background:var(--color-error);
  color:#fff;
}
button.danger:hover{
  background:color-mix(in oklab, var(--color-error) 85%, white);
  box-shadow:var(--shadow-12);
}
button.danger:active{
  background:color-mix(in oklab, var(--color-error) 85%, black);
  transform:translateY(2px);
}

/* SUCCESS (contructive action) */
button.success {
  background: var(--color-success);
  color: #fff;
}
button.success:hover {
  background: color-mix(in oklab, var(--color-success) 85%, white);
  box-shadow: var(--shadow-12);
}
button.success:active {
  background: color-mix(in oklab, var(--color-success) 85%, black);
  transform: translateY(2px);
}

/* WARNING */
button.warning {
  background: var(--color-warning);
  color: #fff;
}
button.warning:hover {
  background: color-mix(in oklab, var(--color-warning) 85%, white);
  box-shadow: var(--shadow-12);
}
button.warning:active {
  background: color-mix(in oklab, var(--color-warning) 85%, black);
  transform: translateY(2px);
}

/* LINKS */
.link {
  font-weight: 600;
  color: var(--color-primary);
  text-decoration: none;
  position: relative; /* pra pseudo-elemento */
  transition: color var(--med) var(--ease);
}

/* linha animada no hover */
.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; /* distância da linha pro texto */
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--med) var(--ease);
}

.link:hover {
  color: var(--color-primary-dark);
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* foco acessível */
.link:focus-visible {
  outline: none;
  box-shadow:
    0 0 4px 1px color-mix(in oklab, var(--color-primary) 35%, transparent),
    0 0 8px 4px color-mix(in oklab, var(--color-primary) 15%, transparent);
  border-radius: 2px;
  padding: 0 .1rem;
}

input,select,textarea{
  width:100%;
  font:400 1rem/1.4 var(--font-sans);
  color:var(--color-text);
  background: var(--color-contrast);
  border:1.2px solid var(--color-border);
  border-radius:var(--radius-full);
  padding:0.65rem 0.8rem;
  transition:border-color var(--med) var(--ease), box-shadow var(--med) var(--ease);
}

textarea {
  border-radius: var(--radius-med); 
}

input:hover,select:hover,textarea:hover{border-color:var(--color-muted)}
input:focus,select:focus,textarea:focus{
  border-color:var(--color-primary);
  box-shadow: 
  0 0 4px 1px color-mix(in oklab, var(--color-primary) 35%, transparent),
  0 0 8px 4px color-mix(in oklab, var(--color-primary) 15%, transparent);
  outline:0;
}
